@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

:root{
    --dark: #001233;
    --white: #fff;
    --yellow: #ffb703;
    --mainColor1: #9658fe;
}

/**************************************************/
/* General directives                             */
/**************************************************/

.table{
    width: 100%;
}

.main-header th{
    position: sticky;
    top: 0px;
    z-index: 1;
}

#products-table tr:hover{
    background-color: #f0f9f1;
}

.titleText{
    padding-left: .6rem;
    font-size: 3rem;
    font-family: 'Lobster', cursive;
}

.titleIcon{
    padding-left: 0.8rem;
}

#table-Container{
    overflow: auto;
    height: 94%;
}

.name-links-details{
    font-family: 'Roboto', sans-serif;
    color: #9658fe;
    font-size: 17px;
}

.number-style{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #001233;
}

/**************************************************/
/* Body                                           */
/**************************************************/
body{
    font-family: 'Comfortaa', cursive; 
}

/**************************************************/
/* custom scroll for the table                    */
/**************************************************/
#table-Container::-webkit-scrollbar-thumb{
    background-color: darkgray;
    border-radius: 10px;
}

#table-Container::-webkit-scrollbar-track{
    background-color: #d0d0d0;
    border-radius: 10px;
    margin-top: 40px;
}

#table-Container::-webkit-scrollbar{
    width: 0.4vw; 
}

/**************************************************/
/* material design size icons                     */
/**************************************************/
.material-icons.md-48{
    font-size: 48px; 
}

.material-icons.md-35
{
    font-size: 35px; 
}

.material-icons.md-24{
    font-size: 24px; 
}

.material-icons.md-18{
    font-size: 18px; 
}

/**************************************************/
/* Modal - Show details                           */
/**************************************************/
.modal-insert-product{
    display: flex;
}

.modal-update-product{
    display: flex;
}

.modal-show-details{
    display: flex;
}

.modal-users-auth{
    display: flex;
}

/**************************************************/
/* Header                                         */
/**************************************************/
.navbar{
    background-color: var(--dark);
}

.navbar-item{
    color: var(--white);
    transition: .3s ease-in-out all;
    height: 8vh; /* height of the nav-bar*/
}

.navbar-item:hover{
    color: var(--yellow) !important;
}

/**************************************************/
/* Main                                           */
/**************************************************/
.main-content{
    height: 92vh; /* height of the main content*/
    display: flex;
    justify-content: center;
    padding: 2rem 0 2rem 0 ;
}

.crud-container{
    padding: 2rem 3rem;
    width: 90%;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.4);
    border-radius: 0.7rem;
    overflow: hidden;
}

.crud-container h1{
    font-weight: bold;
    font-size: 24px;
}

.modal-card-title{
    font-family:'Roboto', sans-serif;
    font-size: 1.8rem;
    color: #858585;
    font-style: italic;
    font-weight: 500;
}

.label{
    font-size: 0.8rem;
    font-style: italic;
}

/**************************************************/
/* Image Selector and visor                       */
/**************************************************/
.image-selector{
    display: grid;
    height: 100%;
    place-items: center;
    text-align: center;
}

.container{
    height: 350px;
    width: 430px;
}

.container .wrapper{
    position: relative;
    height: 300px;
    width: 100%;
    border:3px dashed #c2cdda;
    border-radius: 10px;
    background: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.wrapper.active{
    border: none;
}

.wrapper .image{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.wrapper .icon{
    font-size: 200px;
    color: var(--mainColor1);
}

.wrapper .text{
    font-size: 20px;
    font-weight: 500;
    color: #9b9b9b;
}

.wrapper #cancel-btn{
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 20px;
    cursor: pointer;
    color: #9b9b9b;
    display: none;
}

.wrapper.active:hover #cancel-btn{
    display: block;
}

.wrapper #cancel-btn:hover{
    color: var(--mainColor1);
}

.wrapper .fileName{
    position: absolute;
    bottom: 0px;
    width: 100%;
    color: var(--white);
    padding: 2px 0;
    font-size: 10px;
    display: none;
    background: linear-gradient(135deg, #c1c1c1 0%, #858585 100%);
}

.wrapper.active:hover .fileName{
    display: block;
}

.container #custom-btn{
    margin-top: 10px;
    width: 100%;
    height: 30px;
    display: block;
    border: none;
    border-radius: 10px;
    color: var(--white);
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    background: var(--mainColor1);
}

/**************************************************/
/* Hide image until it's ready to show            */
/**************************************************/
.hide-image{
    display: none !important;
}
  
/**************************************************/
/* checkbox                                       */
/**************************************************/
fieldset {
    background: rgb(255, 255, 255);
    border:3px dashed #c2cdda;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 20px;
    display: flex;
}

legend {
    padding: 3px;
    background: var(--mainColor1);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    font-size: 14px;
    font-style: italic;
}

.switch{
    padding: 10px;
}

/**************************************************/
/* product details                                */
/**************************************************/
#title-detail-form{
    font-size: 2.2rem;
    font-weight: bold;
}

#tablechecks{
    margin-top: 15px;
    margin-bottom: 15px;
}

#tablechecks td{
    align-items: center;
}

.label-details{
    font-style: italic;
    font-weight: bold;
    font-size: 12px;
    color: var(--white);

    padding: 3px 10px 3px 5px;
    background: var(--mainColor1);
    border-radius: 3px;
}

.frame-fromDetails{
    border: 1px solid #b9b9b9; 
    padding: 12px; 
    border-radius: 4px;
}

.lineOnFrame-fromDetails{
    height:1px; 
    background: rgb(196, 196, 196); 
    margin-top: 5px; 
    margin-bottom: 5px;
}

/**************************************************/
/* Property for over text on the table            */
/**************************************************/
.maxSizeText{
    max-width: 200px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

/**************************************************/
/* Header of the table with the search field      */
/**************************************************/
#title-table{
    display: flex;
    align-items: center;
    margin-right: 15px;     
}

#search-field{
    flex-grow: 1;
    justify-content: stretch;
}

#search-field-input{
    width: 50%;
}

#main-control{
    display: flex;
    padding: 15px;
    border-bottom: 1px solid rgb(237, 237, 237);    
}

/**************************************************/
/* Header for the order buttons                   */
/**************************************************/
.header-order-by{
    font-family:'Roboto', sans-serif;
    font-style: italic;
    font-weight: 700;
    cursor: pointer;
    background-color: #e4e4e4;

    /* to avoid select texto on the header of the table */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.selectHeader{
    background-color: #dadada;
}

/**************************************************/
/* User login card                                */
/**************************************************/
.showPanelUserLogin{
    display: flex !important;
}

.circular--square {
    width: 75px; 
    height: 75px;
    border-radius: 50%;
}

#loginUser{
    width: 100%; 
    display: none;
    justify-content: end; 
    align-items: center; 
    padding-right: 2rem;
}

#textContainerLogin{
    color: white; 
    padding-right: 15px;
}

#userName{
    display: flex; 
    justify-content: end; 
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-style: italic;
}

#SecurityLevel{
    display: flex; 
    justify-content: end; 
    font-size: 12px;
}

#logoutLink{
    display: flex; 
    justify-content: end;
}
